## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 1.0
  - nightly
notifications:
  email: false
git:
  depth: 99999999

## uncomment the following lines to allow failures on nightly julia
## (tests will run but not make your overall status red)
matrix:
  allow_failures:
  - julia: nightly
  fast_finish: true

## uncomment and modify the following lines to manually install system packages
#addons:
#  apt: # apt-get for linux
#    packages:
#    - gfortran
#before_script: # homebrew for mac
#  - if [ $TRAVIS_OS_NAME = osx ]; then brew install gcc; fi

before_script:
  - julia -e "using Pkg; pkg\"add https://github.com/oschulz/ArraysOfArrays.jl.git\""
  - julia -e "using Pkg; pkg\"add https://github.com/oschulz/ParallelProcessingTools.jl.git\""
  - julia -e "using Pkg; pkg\"add https://github.com/oschulz/ValueShapes.jl.git\""

## uncomment the following lines to override the default test script
#script:
#  - julia -e '...'

after_success:
  # push coverage results to Coveralls
  - julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
